@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container main-container">
    <h1>@ViewData["Title"]</h1>
    <p>Use seu e-mail para fazer log in.</p>
    <hr />

    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-6 p-1">
                <label asp-for="Input.Email" class="control-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6 p-1">
                <label asp-for="Input.Senha" class="control-label">Password</label>
                <input asp-for="Input.Senha" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Senha" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6 p-1">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <div class="form-group p-1">
                <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
            </div>

            <div class="form-group p-1">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                </p>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
